* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #777575;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 
  
  header {
    text-align: center;
    background-color: white;
    padding: 5px;
    width: 100%;
  }
  
  #login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: 42%; 
    margin-top: 10%; }
  
  #text-login-som {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #label-login {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #logon-btn {
    background-color: rgb(155, 24, 24);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  #logon-btn:hover {
    background-color: #43597a;
  }

  #logout-btn {
    background-color: rgb(155, 24, 24);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 3px;
    right: 3px;
  }
  #logout-btn:hover {
    background-color: #43597a;
  }

  /* hidden class */
  .hidden {
    display: none;
  }