* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(55, 101, 145);
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}
 
  
  header {
    text-align: center;
    background-color: white;
    padding: 5px;
    width: 100%;
}

#login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: 28%;
    margin-top: 10%;
}

#text-login-som {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#label-login {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#logon-btn {
    background-color: rgb(155, 24, 24);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#logon-btn:hover {
    background-color: #43597a;
}

#logout-btn {
    background-color: rgb(155, 24, 24);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 3px;
    right: 3px;
}
#logout-btn:hover {
    background-color: #43597a;
  }

  /* CSS code for navbar */
  .navbar-container {
    position: fixed;
    top: 22.5%;
    left: 0;
    height: 100vh;
    background-color: rgb(155, 24, 24);    
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-sizing: border-box;
}

.navbar-content {
    overflow: hidden;
    z-index: 99;
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 8px 0;
    cursor: pointer;
}


/* CSS code for the active link */
.active {
  font-weight: bolder;
  display: block;
}

/* hidden */
.hidden {
  display: none;
}

.view-content {
  margin-top: 5%;
  margin-left: 20%;
}

/* Add the hidden class to initially hide sections */
.view-content:not(.active) {
  display: none;
}

.substitute-view:not(.active){
    display: none;
  }

  .view-content-admin:not(.active){
    display: none;
  }


/* .view-content{
  display: none;
}

.view-content.active{
  display: block;
} */

/* CSS for substitute table */
.substitute-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white;
}

.substitute-table td {
  border: 1px solid #ddd;
  padding: 8px;
  position: relative;
}

.substitute-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
}

.substitute-table button {
  background-color: rgb(155, 24, 24);
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  top: 50%;
  right: 8px; /* Adjust as needed */
  transform: translateY(-50%);
}

.substitute-table button:hover {
  background-color: #43597a;
}

#table-headers{
  text-align: left;
}
/* CSS for section headers */
h1 {
  color: #333;
  margin-top: 20px;
}


#tabs-substitute, #tabs-admin, #substitutes-list-admin {
  max-width: 60vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#tabs-substitute h2, #tabs-admin h2 {
  margin: 0;
  padding: .5em;
  background-color: #444;
  cursor: pointer;
}

#tabs-substitute h2.selected, #tabs-admin h2.selected {
  background-color: #666;
  border: 1px solid black;
  border-bottom: none;
}

#tabs-substitute h2:not(.selected), #tabs-admin h2:not(.selected) {
  border-bottom: 1px solid black;
}

#tabs-substitute div, #tabs-admin div, #substitutes-list-admin {
  padding: 1em;
  background-color: white;
  grid-area: 2 / 1 / 2 / 3 ;
  border: 1px solid black;
  border-top: none;
}

#tabs-substitute div table, #tabs-admin div table {
  width: 100%;
}

.shift-interest-button, #create-substitute-btn{
  background-color: rgb(155, 24, 24);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  top: 3px;
  right: 3px;
}

.shift-interest-button:hover, #create-substitute-btn:hover {
  background-color: #43597a;
}

#myShifts-tab, #availableShifts{
  background-color: white;
  border: 1px solid black;

}

#substitutes-view-section-admin button {
  margin: 8px;
}

td {
  border: 1px solid black;

}

#shiftInterest-dialog, #editLoginInfo-dialog, #dialog-admin-assign-shift {
  width: 400px; /* Set a width for your dialog */
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Set your desired background color */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

#not-matching-passwords, #existing-shiftInterest-entry{
  width: 300px; /* Set a width for your dialog */
  margin: auto;
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: white; /* Set your desired background color */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */

}
#confirmInterestText {
  margin-bottom: 20px;
}

#editLoginInfo-dialogheader{
  margin-bottom: 20px;
text-decoration: underline;
font-weight: bold;}

#confirmInterest-btn,
#denyInterest-btn, #confirm-new-login-info, #reject-new-login-info, #close-passwords-dialog, #close-shiftInterest-dialog-btn {
  background-color: rgb(155, 24, 24);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  top: 3px;
  right: 3px;
  width: 175px;
}

#close-passwords-dialog, #close-shiftInterest-dialog-btn{
  width: 255px;;
}

#confirmInterest-btn:hover,
#denyInterest-btn:hover, #reject-new-login-info:hover, #confirm-new-login-info:hover, #close-passwords-dialog:hover, #close-shiftInterest-dialog-btn:hover {
  background-color: #43597a;
}

#not-matching-passwords-text, #existing-shiftInterest-entry-text {
  font-weight: bolder;
  margin-bottom: 20px;
}

.btnStyling {
  background-color: rgb(155, 24, 24);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  top: 3px;
  right: 3px;
}